@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700&display=swap");
body * {
  font-family: "Raleway", sans-serif;
  color: #5b5b5b;
}

.teams-map {
  padding-top: 70px;
}
@media screen and (min-width: 1600px) {
  .teams-map {
    max-width: 1520px;
  }
}
@media screen and (max-width: 992px) {
  .teams-map {
    overflow: auto;
  }
  .teams-map > .row {
    padding-left: 1rem;
    padding-right: 1rem;
    min-width: 1320px;
    max-width: 1320px;
    width: 1520px;
  }
}
.teams-map > .row > .col {
  border-left: 1px solid #e3e3e3;
}
.teams-map > .row > .col:last-child {
  border-right: 1px solid #e3e3e3;
}
.teams-map > .row > .col .box {
  width: 100%;
  height: 100%;
  text-align: center;
}
.teams-map > .row > .col .box.left {
  position: relative;
}
.teams-map > .row > .col .box.left::before {
  position: absolute;
  content: "";
  height: 147.5px;
  width: 100%;
  right: -64px;
  top: 66px;
  z-index: 7;
  background-image: url("../images/top-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.left::after {
  position: absolute;
  content: "";
  height: 117.5px;
  width: 110px;
  right: -65px;
  bottom: 218.5px;
  z-index: 7;
  background-image: url("../images/bottom-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.left .fando-card {
  position: relative;
  z-index: 8;
}
.teams-map > .row > .col .box.left-2 {
  position: relative;
}
.teams-map > .row > .col .box.left-2::before {
  position: absolute;
  content: "";
  height: 105.5px;
  width: 105px;
  right: -64px;
  top: 112px;
  z-index: 7;
  background-image: url("../images/left-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.left-2 .fando-card {
  margin-top: 180px;
  position: relative;
  z-index: 8;
}
.teams-map > .row > .col .box.right {
  position: relative;
}
.teams-map > .row > .col .box.right::before {
  position: absolute;
  content: "";
  height: 147.5px;
  width: 108.5px;
  left: -68px;
  top: 66px;
  z-index: 7;
  background-image: url("../images/top-right-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.right-2 {
  position: relative;
}
.teams-map > .row > .col .box.right-2::before {
  position: absolute;
  content: "";
  height: 117.5px;
  width: 100%;
  right: -68px;
  top: 211.5px;
  z-index: 7;
  background-image: url("../images/right-1.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.right-2::after {
  position: absolute;
  content: "";
  height: 105px;
  width: 110px;
  left: -67px;
  top: 112px;
  z-index: 7;
  background-image: url("../images/right-2.svg");
  background-repeat: no-repeat;
  background-position: top right;
}
.teams-map > .row > .col .box.right-2 .fando-card {
  margin-top: 180px;
  position: relative;
  z-index: 8;
}
.teams-map > .row > .col .box .title {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 34px;
}
.teams-map > .row > .col .box .fando-card {
  border-radius: 5px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.12);
  max-width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 8;
}
.teams-map > .row > .col .box .fando-card:not(:last-child) {
  margin-bottom: 36px;
}
.teams-map > .row > .col .box .fando-card .fando-card-header {
  background-color: #213c73;
  padding: 4px;
  font-size: 14px;
  font-weight: 800;
  color: white;
  text-align: center;
  border-radius: 5px 5px 0 0;
  line-height: 1.215;
  text-transform: uppercase;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 {
  display: flex;
  align-items: center;
  padding: 7px 11px;
  border-bottom: 0.7px solid #dfdfdf;
  max-height: 30px;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1.separator {
  font-size: 12px;
  font-weight: 500;
  justify-content: center;
  background-color: #f2f2f2;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1.separator b {
  color: #213c73;
  font-weight: 700;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color {
  border-radius: 1px;
  width: 25px !important;
  height: 1rem !important;
  min-width: 25px !important;
  min-height: 1rem !important;
  margin-right: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  background-color: transparent !important;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color > img {
  width: 100%;
  height: 100%;
  border-radius: 2px;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color.red {
  background-color: #f41818;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color.blue {
  background-color: #18cdf4;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color.yellow {
  background-color: #f4c418;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color.green {
  background-color: #bbdd72;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-color.purple {
  background-color: #e189f8;
}
.teams-map > .row > .col .box .fando-card .fando-card-body .team.type-1 .team-name {
  text-align: left;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 700;
  width: 135px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.teams-map > .row > .col .box .fando-card .fando-card-footer {
  padding: 10px;
  border-radius: 0 0 5px 5px;
  background-color: #f2f2f2;
  font-size: 12px;
  text-align: center;
  font-weight: 500;
  line-height: 1.167;
}
.teams-map > .row > .col .box .fando-card .fando-card-footer b {
  display: block;
  font-weight: 800;
}
.teams-map > .row > .col .box.middle .fando-card {
  max-width: 200px;
}
.teams-map > .row > .col .box.middle .fando-card.top-2 {
  margin-top: 75px;
}
.teams-map > .row > .col .box.middle .fando-card.top-1, .teams-map > .row > .col .box.middle .fando-card.top-2 {
  margin-bottom: 40px;
  position: relative;
}
.teams-map > .row > .col .box.middle .fando-card.top-1::before, .teams-map > .row > .col .box.middle .fando-card.top-2::before {
  position: absolute;
  content: "";
  height: 40px;
  width: 2px;
  left: 50%;
  bottom: 100%;
  z-index: 7;
  border-left: 1px solid black;
}
.teams-map > .row > .col .box.middle .fando-card.top-1 .fando-card-body > .team.type-1, .teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > .team.type-1 {
  display: flex;
  align-items: center;
}
.teams-map > .row > .col .box.middle .fando-card.top-1 .fando-card-body > .team.type-1 .team, .teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > .team.type-1 .team {
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  height: auto;
  max-height: unset;
  border-bottom: none;
}
.teams-map > .row > .col .box.middle .fando-card.top-1 .fando-card-body > .team.type-1 .team .team-name, .teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > .team.type-1 .team .team-name {
  white-space: nowrap;
}
.teams-map > .row > .col .box.middle .fando-card.top-1 .fando-card-body > .team.type-1 .team .team-color, .teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > .team.type-1 .team .team-color {
  margin-right: 0;
}
.teams-map > .row > .col .box.middle .fando-card.top-1 .fando-card-body > .team.type-1 .vs, .teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > .team.type-1 .vs {
  color: #213c73;
  font-size: 12px;
  font-weight: 800;
  margin: 0 1rem;
}
.teams-map > .row > .col .box.middle .fando-card.top-2::before {
  display: none;
}
.teams-map > .row > .col .box.middle .fando-card.top-2 .fando-card-body > div:first-child {
  border-bottom: 1px solid #dfdfdf;
}

[draggable] {
  user-select: none;
}

/*# sourceMappingURL=style.css.map */
